.main-employee-list {
    h1 {
        text-align: center;
       margin: 2rem;
       font-size: 2rem;
   }
   .datatable-container {
    margin: 0 3rem;
    .sc-eDWCr {
        font-size: 1rem;
    }
    .sc-jrcTuL{
        font-size: 0.9rem;
    }
   }
   .search {
    padding-right: 0.5rem;
    font-size: 0.8rem;
   }
}