#root {
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
}

.body {
    margin: 0;
    padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

// Media Size

$mobile: "screen and (max-width: 926px)";
